*.out
*.err
core*
build*
./device_api_example
./mpi_hello_world
./curand_and_thrust
./list_device
./mpi_test
./hmc.sh
./omp_for
./rs.sh
./host_api_example
./device_api_example
./mpi_hello_world
./curand_and_thrust
./list_device
./mpi_test
./omp_for
./rs.sh
./host_api_example
*.csv
